<app-card-item>
  <div class="card-title">
    {{ course.title }}
  </div>
  <div class="card-content">
    <p>{{ course.description }}</p>
  </div>
  <div class="card-actions">
    <button
      mat-button
      class="mat-raised-button mat-primary"
      [routerLink]="['/courses', course.id]"
    >
      View Course
    </button>
    <button
      mat-button
      class="mat-raised-button mat-primary"
     (click)="openRegisterClassModal()"
    >
     Create Class
    </button>
  </div>
</app-card-item>
