<app-card-item>
  <div class="card-title">
    <!-- {{ onlineClass.courseTitle || onlineClass.title }} -->
  </div>
  <div class="card-content">
    <div>
      <span [hidden]="!onlineClass.courseTitle">
        <b>Course name: </b> {{ onlineClass.courseTitle }}
        <br />
        <br />
      </span>
      <span [hidden]="!onlineClass.classTitle">
        <b>class name: </b> {{ onlineClass.classTitle }}
        <br />
        <br />
      </span>

      <span [hidden]="!onlineClass.price">
        <b>course price: </b> {{ onlineClass.price | currency }}
        <br />
        <br />
      </span>

      <span [hidden]="!onlineClass.teacherName">
        <b> with teacher : </b>
        {{ onlineClass.teacherName }}
        <br />
        <br />
      </span>
      <span [hidden]="!onlineClass.classStatus">
        <b>class Status: </b> {{ onlineClass.classStatus }}
        <br />
        <br />
      </span>
    </div>
    <ng-content select=".extra-content"> </ng-content>
  </div>
  <div class="card-actions">
    <button
      mat-button
      class="mat-raised-button mat-primary"
      [routerLink]="['/courses', onlineClass.courseId || -1 ]"
    >
      View Course
    </button>
    <ng-container *ngIf="onlineClass.classStatus">
      <button
        mat-button
        *ngIf="onlineClass.classStatus != 'OPEN'"
        class="mat-raised-button mat-warn"
        (click)="openClass()"
      >
        Open Class
      </button>

      <button
        mat-button
        *ngIf="onlineClass.classStatus != 'CLOSED'"
        class="mat-raised-button mat-accent"
        (click)="closeClass()"
      >
        Close Class
      </button>
    </ng-container>

    <ng-content select=".extra-actions"> </ng-content>
  </div>
</app-card-item>
