<div class="page-content">
  <h4>Welcome to sunflower school</h4>

  <div>
    <p><b> All Courses </b> you can view our available course</p>
    <p><b> All Open Classes </b> you can view current active classes</p>
    <p>
      <b> All classes </b> you can view all online classes opened/closed and you
      can open/close each class
    </p>
    <p>
      <b> All Student </b> you can view our student and which classes they had
      registered and also register student to a class
    </p>
  </div>
</div>
